.cmpRootBar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-right: 2px;
}

.cmpRootBar[data-navigation="false"] {
  padding-top: 32px;
}

.cmpControls {
  display: flex;
  gap: 5px;
  padding-right: var(--files-root-action-reserve);
}

.cmpPath {
  display: flex;
  gap: 5px;
  min-width: 0;
}

.cmpForward {
  transform: rotate(180deg);
}
